body {
    background-color: #fdf6e3;
}
/* Want to shade the container similar to a previous project of mine */
.container {
    background-color: #fdf6e3;
    box-shadow: 0px 5px 15px 0px;
} 


/* 
1) Need to look up and style for the UV index
AC: 
WHEN I view the UV index
THEN I am presented with a color that indicates whether the conditions are favorable, moderate, or severe

UV Scale: 1-11+
Grouped visually by: 1,2 // 3,4,5 // 6,7 // 8,9,10 // 11+
BUT the scale below for instructions

0 to 2: Low
No protection needed. You can safely stay outside using minimal sun protection.

3 to 7: Moderate to High
Protection needed. Seek shade during late morning through mid-afternoon. 
When outside, generously apply broad-spectrum SPF-15 or higher sunscreen on exposed skin, 
and wear protective clothing, a wide-brimmed hat, and sunglasses.

8+: Very High to Extreme
Extra protection needed. Be careful outside, especially during late morning through mid-afternoon. 
If your shadow is shorter than you, seek shade and wear protective clothing, a wide-brimmed hat, and sunglasses,
 and generously apply a minimum of SPF-15, broad-spectrum sunscreen on exposed skin. */


.tile {
    background-color: #10699c;
    box-shadow: 0px 5px 15px 0px;
}

.low {
    background-color: rgb(4, 119, 4);
	color: white;
	border: 2px solid rgb(4, 119, 4);
	border-radius: 8px;
}

.moderate {
    background-color: rgb(231, 198, 9);
	color: white;
	border: 2px solid rgb(231, 198, 9);
	border-radius: 8px;
}

.high {
    background-color: rgba(248, 109, 16, 0.993);
	color: white;
	border: 2px solid rgba(248, 109, 16, 0.993);
	border-radius: 8px;
}

.very_high {
    background-color: rgb(236, 63, 63);
	color: white;
	border: 2px solid rgb(236, 63, 63);
	border-radius: 8px;
}

.extreme {
    background-color: rgb(230, 71, 230);
	color: white;
	border: 2px solid rgb(230, 71, 230);
	border-radius: 8px;
}

